---
import BaseHtml from "@/components/BaseHtml.astro";
import Footer from "@/components/Footer.astro";
import WidgetsGrid from "@/components/WidgetsGrid.astro";
---

<BaseHtml title="Widgets">
  <section class="px-8 min-h-[90vh]">
    <WidgetsGrid />
  </section>
  <Footer />
</BaseHtml>
