@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  .selectedTab {
    @apply text-sm inline-flex p-4 text-blue-600 rounded-t-lg border-b-2 border-blue-600 dark:text-blue-500 dark:border-blue-500;
  }
  .unselectedTab {
    @apply text-sm inline-flex p-4 text-gray-600 rounded-t-lg dark:text-gray-500;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Fira Code Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.categories-list {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.categories-list::-webkit-scrollbar {
  width: 0px;
}

.footer-icon {
  color: white;
  margin: 8px;
}

.footer-icon:hover {
  color: #c4d33a;
}

.fab {
  position: fixed;
  margin: 0;
  right: 20px;
  bottom: 20px;
  top: auto;
  left: auto;
  z-index: 10;
  background: #c4d33a;
  padding: 10px;
  border-radius: 80px;
  color: black;
  display: flex;
  align-items: center;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
