@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.categories-list {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.categories-list::-webkit-scrollbar {
  width: 0px;
}

.footer-icon {
  color: white;
}
